* {
	 padding:0px;
	 margin:0px;
 }
header,nav,aside,article,section,footer,main {
	display:block;
}
#wrapper {
	margin: 0px auto;
	width: 1000px;
	height: 1000px;
}

@viewport {
	width: 480px;
}

.clear
{
	clear:both;
}
/*----------------layout1---------------------*/
#Header1 {
	width:1000px;
	height:183px;
}
#MainMenu1 {
	width: 726px;
	height: 58px;
	background-color: #b94a48;
	float: right;
	margin-top:47px;
	font-family: Arial;
	text-align:center;
	color: #ffffff;
}

ul{
	float:left;
	list-style-type: none;
}
nav a{
	text-decoration: none;
	color: #ffffff;
	display: block;
	margin-top: 20px;
}

#logo1 {
	width: 78px;
	height: 78px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	display:block;
	margin-left:105px;
}
#Content1 {
	position:relative;
	float:left;
	margin-left:97px;
}
aside {
	width: 121px;
	height: 698px;
	float: left;
	background-color: #f2dede;
}
.L1Boxes {
	position:relative ;
	width:849px ;
	height:269px;
	margin-left:29px;
	background-color: #ee5f5b;
	float:left;
}
#footer1 {
	width:1000px;
	height: 120px;
	background-color: #d6d6d6;
}
.list {
	float:left;
	width:242px;
	height:57px;
}
.selected {
	float:left;
	width:242px;
	height:58px;
	background-color:#333333;
}
/* ----------------- boxes ------------------ */
article {
	position:absolute;
	background-color:black;
	opacity: 0.6;
}
#box1 {
	top:89px;
	left:343px;
	width:127px;
	height:95px;
}
#box2 {
	top:223px;
	left:97px;
	width:693px;
	height:176px;
}
/* -------------------- Layout2 -------------- */

#Header2 {
	width:1000px;
	height:193px;
}
#MainMenu2 {
	position:absolute;
	top:193px;
	width: 244px;
	height: 756px;
	background-color: #333333;
	float: left;
	font-family: Arial;
	color: #ffffff;
}
#logo2 {
	margin: 0px auto;
	width: 78px;
	height: 78px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	padding-top:38px;
	display:block;
}

.selected2 {
	float:left;
	width:242px;
	height:57px;
	background-color:#b94a48;
}
#Content2 {
	float:right;
	width:756px;
	height:756px;
	background-color:#ee5f5b;
}
#footer2 {
	position: fixed;
	bottom:0px;
	width:1000px;
	height:50px;
	background-color:#d6d6d6;
}
/* ---------------- boxes ------------- */

#L2box1 {
	margin-left:30px;
	width:212px;
	height:366px;
}
#L2box2 {
	margin-top:384px;
	margin-left:32px;
	width:212px;
	height:373px;
}
#L2box3 {
	margin-left:274px;
	width:215px;
	height:560px;
}
#L2box4 {
	margin-left:274px;
	margin-top:577px;
	width:215px;
	height:178px;
}
#L2box5 {
	margin-left:515px;
	width:213px;
	height:223px;
}

/* ------------ layout3 ------------ */

#Header3 {
	width:500px;
	height:500px;
	position: relative;
	float:left;
}
#wrapper3 {
	margin: 0px auto;
	width: 1000px;
	height: 1000px;
}
#logo3 {
	position: absolute;
	top:20px;
	width: 78px;
	height: 78px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	margin-left:5px;
}
.MainMenu3 {
	color: #ffffff;
	width:500px;
	height:63px;
	float:left;
	margin-top:47px;
	background-color: #b94a48;
	font-family: Arial;
	text-align: center;
	position: absolute;
	top:390px;
}
.list3 {
	float:left;
	width:166.5px;
	height:63px;
}
.selected3 {
	float:left;
	width:167px;
	height:63px;
	background-color:#333333;
}
#button {
	position:absolute;
	top:119px;
	left:208px;
	font-size: 150px;
}
#L3Boxes {
	width:500px;
	height:500px;
	float:left;
	background-color: #9d261d;
}
#DynamicBox {
	overflow: hidden;
	background-color: #9d261d;
}
@media only screen and (max-width:998px){
	#DynamicBox {
		height:1000px;
	}
	#L3Boxes {width:500px;}
	#wrapper3 {
		width:500px;
		margin:0px auto;
	}
}
@media only screen and (min-width:999px){
	#DynamicBox {
		height:500px;
	}
	#wrapper3 {
		width:1000px;
		margin:0px auto;
	}
}
