* {
padding:0px;
margin:0px;
}
header,nav,aside,article,section,footer,main {
	display:block;
}
#wrapper {
	margin: 0px auto;
	width: 1000px;
	height: 1000px;
}
.clear
{
	clear:both;
}
/*----------------layout1---------------------*/
#Header1 {
	width:1000px;
	height:183px;
}
#MainMenu1 {
	width: 726px;
	height: 58px;
	background-color: #b94a48;
	float: right;
	margin-top:47px;
	font-family: Arial;
}
#logo1 {
	width: 78px;
	height: 78px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: center;
	display:block;
	margin-left:105px;
}
#Content1 {
	position:relative;
	top:269px;
	width:878px;
	height:223px;
	margin-left:121px;
}
aside {
	width: 121px;
	height: 698px;
	float: left;
	background-color: #f2dede;
}
section {
	position:absolute ;
	width:849px ;
	height:269px;
	margin-left:151px;
	background-color: #ee5f5b;
	float:left;
}
#footer1 {
	width:1000px;
	height: 120px;
	background-color: #d6d6d6;
}
.list1 {
	list-style-type: none;
	overflow: hidden;
	background-color: #b94a48;
}
.list1 li {
	width:242px;
	height:58px;
	float: left;
	text-align:center;
	color: #ffffff;
}
.list1 li a {
	padding-top:20px;
	display: block;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
}
.selected {
	height:58px;
	background-color:#333333;
}
/* ----------------- boxes ------------------ */
article {
	position:absolute;
	background-color:black;
	opacity: 0.6;
}
#box1 {
	top:89px;
	left:343px;
	width:127px;
	height:95px;
}
#box2 {
	top:223px;
	left:97px;
	width:693px;
	height:176px;
}
/* -------------------- Layout2 -------------- */

#Header2 {
	width:1000px;
	height:193px;
}
#MainMenu2 {
	position:absolute;
	top:193px;
	width: 244px;
	height: 756px;
	background-color: #333333;
	float: left;
	font-family: Arial;
}
#logo2 {
	margin: 0px auto;
	width: 78px;
	height: 78px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: center;
	padding-top:38px;
	display:block;
}
.list2  {
	list-style-type: none;
	background-color: #333333;
}
.list2 li a {
	display: block;
	color: #ffffff;
	text-decoration: none;
	padding-top: 20px;
}
.list2 li {
	color: #ffffff;
	text-align: left;
	width:244px;
	height:59px;
}
.selected2 {
	height:40px;
	background-color:#b94a48;
}
#Content2 {
	position:relative;
	left:244px;
	width:756px;
	height:756px;
	background-color:#ee5f5b;
}
#footer2 {
	position: fixed;
	bottom:0px;
	width:1000px;
	height:50px;
	background-color:#d6d6d6;
}
/* ---------------- boxes ------------- */

#L2box1 {
	left:32px;
	width:212px;
	height:366px;
}
#L2box2 {
	top:384px;
	left:32px;
	width:212px;
	height:373px;
}
#L2box3 {
	left:274px;
	width:215px;
	height:560px;
}
#L2box4 {
	top:577px;
	left:274px;
	width:215px;
	height:178px;
}
#L2box5 {
	left:515px;
	width:213px;
	height:223px;
}